* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  background-color: #7d6db5;
  min-height: 100vh;
  border: 10px solid #d21212df;
}
.topcontent,
img {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%;
}
.topcontent {
  justify-content: space-betweenss;
}
h1 {
  text-decoration: underline;
  position: relative;
  bottom: 80px;
  left: 260px;
}
h4 {
  position: relative;
  left: 400px;
  bottom: 70px;
}
.prime {
  position: relative;
  top: 80px;
  right: 100px;
  font-style: oblique;
  font-size: larger;
}
p {
  position: relative;
  bottom: 60px;
  left: 100px;
  font-size: xx-large;
}
ul {
  margin: 20px;
  position: relative;
  top: 20px;
  font-size: x-large;
  font-style: oblique;
}
footer {
}
